/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

/* main */
body{
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: #e53170;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.introduction{
    text-align: center;
}
.container{
    width: 80%;
    max-width: 1100%;
    margin: 0 auto 2rem;
    margin-top: 2rem;
}